*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
}

.calculator-container{
    display: flex;
    border: 5px solid black;
    flex-direction: column;
    height: 700px;
    width: 550px;
    border-radius: 25px;
    background-color: rgb(45, 45, 45);
}

#display{
    display: flex;
    width: auto;
    height: 100px;
    flex-direction: column;
    margin: 1%;
    border-radius: 25px;
    background-color: black;

}

#equations{
    flex: 1;
    text-align: left;
    margin: 2% 2% 0 2%;
    color: white;
    font-weight: 1000;
    font-size: 32px;
}

#answer{
    flex: 1;
    text-align: right;
    margin: 0 2% 2% 2%;
    color: white;
    font-weight: 1000;
    font-size: 32px;
}

#buttons{
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    justify-content: space-evenly;
    margin: 1%;
}

.digits-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

button{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border-radius: 250px;
    border: none;
    color: white;
    font-weight: 1000;
    font-size: 20px;
}

.btns{
    background-color: rgb(125, 125, 125);
}

.op-btns{
    background-color: rgb(50, 50, 50);
}

.neg-pos-btns, .dec-btns, .clear-btn, .bs-btn{
    background-color: rgb(80, 80, 80);
}